body {
  font-size: 12px;
}

.result {
  background-color: #858293;
  padding-right: 5px;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 40px);
  background-color: #dfdfdf;
}

.buttons button {
  border: 1px solid #d0d0d0;
}

.zero {
  grid-area: 5/1/5/3;
}

.buttons button:nth-child(4n),
.buttons button:last-child {
  background-color: #ff8e00;
}
