.calculator-route {
  display: flex;
  justify-content: space-between;
}

.calculator {
  width: 280px;
  margin-right: 10%;
}

.result {
  background-color: #a46596;
  padding-right: 5px;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 40px);
  background-color: #dfdfdf;
}

.buttons button {
  border: 1px solid #c483b5;
}

.buttons button:nth-child(17) {
  grid-area: 5/1/5/3;
}

.buttons button:nth-child(4n),
.buttons button:last-child {
  background-color: #d100a4;
}
