body {
  font-size: 12px;
}

.result {
  background-color: #858293;
  padding-right: 5px;
  color: white;
  text-align: end;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  width: 70px;
  height: 40px;
  border: 1px solid #d0d0d0;
  background-color: #dfdfdf;
}

.zero {
  width: 140px;
}

div button:last-child {
  background-color: #ff8e00;
}
