body {
  font-size: 12px;
}

.table {
  border-collapse: collapse;
}

td {
  border: 1px solid #d0d0d0;
  width: 60px;
  height: 40px;
  text-align: center;
}

.input {
  background-color: #858293;
  width: 252px;
  height: 40px;
  border: none;
  padding: 0;
  padding-right: 5px;
  text-align: end;
  color: white;
}

tr {
  background-color: #dfdfdf;
}

td:last-child:not(:first-of-type) {
  background-color: #ff8e00;
}
