body {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #4e1144;
  font-size: 1rem;
  box-sizing: border-box;
  width: 80%;
  margin: auto;
}
