.header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 6%;
  border-radius: 2%;
  color: #5c1851;
}

.navigation {
  display: flex;
  gap: 10%;
  margin-left: auto;
  margin-right: 10%;
}

a {
  text-decoration: none;
  color: #5c1851;
}

.navigation a:not(:last-of-type) {
  padding-right: 10%;
  border-right: 1px solid #361500;
}
